FORMAT: 1A
HOST: http://private-8b88f1-etb.apiary-mock.com/

# ETB

This documents the API specs for the ETB project

## Users Microservice [/users]

### Sign up a new user [POST /register]

+ Response 200 (application/json)

        {
            "status": "success"
        }

+ Request (application/json)
    + Body

            {
              "phone": "092039029302",
              "email": "johndoe@example.com",
              "password": "secret"
            }


### Login to your account [POST /login]

### Forgot password [GET /forgotpassword]

### Set a new password [GET /setnewpassword]

### Update a user [PUT /users/:userId]

### Get a user [GET /users/:userId]

### Report Issue [GET /users/:userId/reportIssue]

### Set Pin [GET /users/:userId/setPin]

### Validate Pin [GET /users/:userId/validatePin]

### Verify BVN [GET /users/:userId/verifyBvn]

### Complete BVN Verification [GET /users/:userId/completeVerifyBvn]

## Loans Microservice [/loans]

### Get loan repayments [GET /loanrepayments]

### Make loan repayment [POST /loanrepayments/:loanId]

### Create loan [POST /loans]

### Get loan decision [GET /loans/:loanId/decision]

### Approve loan [POST /loans/:loanId/approve]

### Get loan [PUT /loans/:loanId]

### Get loans [GET /loans]

## Savings Microservice [/savings]

### Create savings [POST /savings]

### Get saving [GET /savings/:savingsId]

### Withdraw savings [POST /savings/:savingsId/withdraw]

### Get savings transactions [GET /savingstransactions]

### Fund savings [POST /savings/:savingsId/fund]

### Create fixed savings [POST /fixedsavings]

### Get fixed saving [GET /fixedsavings/:savingsId]

### Withdraw fixed savings [POST /fixedsavings/:savingsId/withdraw]

### Get fixedsavings transactions [GET /fixedsavingstransactions]

### Fund fixed savings [POST /fixedsavings/:savingsId/fund]

## Send Money Microservice [/sendmoney]

### Get beneficiaries [GET /beneficiaries]

### Save beneficiaries [POST /beneficiaries]

### Delete beneficiary [DELETE /beneficiaries/:beneficiaryId]

### Send Money [POST /sendmoney]

### Get send money history [GET /sendmoneytransactions]

## Bills Microservice [/bills]

### Get bill categories [GET /billcategories]

### Get bills in a categories [GET /billcategories/:categoryId]

### Get bill transactions [GET /billtransactions]

### Get bill [GET /bill/:billId]

### Get purchase bill [POST /bill/:billId/purchase]

### Create recurring bill purchase [POST /bill/:billId/recurringpurchase]

### Get bill fee [POST /bill/:billId/fee]

### Save bill [POST /savedbills]

## Payment Methods Microservice [/paymentmethods]

### Create payment methods [POST /paymentmethods]

### Get payment method [GET /paymentmethods/:paymentMethodId]

### Get payment methods [GET /paymentmethods]

### Delete payment method [DELETE /paymentmethods/:paymentMethodId]

## Notifications [/notifications]

### Get notifications [GET /notifications]

### Create notification [POST /notifications]

### Get notification [GET /notifications/:notificationId]